@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
  
.gradient-text:hover {
    cursor: pointer;
    background-color: #4158D0;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #facb72 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradientAnimation 10s ease infinite;
}